/* 
    Made by Treasure Chandler

    This is the CSS file that will stylize the HTML creature pages.
*/ 

/* Will move the pawprint GIF on the welcome page to be at the bottom left corner */
.bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
}

/* Will move the GitHub logo to the bottom center of the screen */
.bottom-center {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 10px;
}

/* Positions the "sparklepaws to be in the top right corner of the intro div*/
.top-right-intro {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
}

/* Will move each row of animal names to the center of the screen */
.center-section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: 20px auto;
}

/* Will predefine the first three items in the first row to be on the same line */
.first-row-align {
    display: flex;
    justify-content: center;
    gap: 60px;
}

/* Overall style of the "intro" at the top of the page */
.intro {
    position: relative;
    background-color: rgb(201, 107, 166);
    margin-left: auto;
    margin-right: auto;
    width: 45%;
}

/* Will style the text in italics */
.italics {
    font-style: italic;
}

/* Gives some top padding to the "h3" in the first section */
.top-padding {
    padding-top: 15px;
}

/* Animal text regular url color */
#Animalstext {
    color: white;
}

/* Animal text hovered url color */
#Animalstext:hover {
    color: rgb(254, 157, 242);
}

/* Animal text visited url color */
#Animalstext:visited {
    color: rgb(219, 122, 219);
}

/* Establishes the size of the GitHub logo */
#Git {
    height: 50px;
    width: 50px;
}

/* Changes the GitHub logo to appear white when hovered over */
#Git:hover {
    content: url(/Media/githubwhite.png);
    height: 50px;
    width: 50px;
}

/* Will give the specified element rounded corners */
#Round {
    border-radius: 10px;
}

/* Creates a fake rounded button behind the animal text links*/
#Rfbutton {
    background-color: rgb(182, 103, 162);
    border-radius: 20px;
    width: 150px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

body {
    background-color: rgb(246, 201, 230);
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

h1, h3, h4, p {
    text-align: center;
}