/* 
    Made by Treasure Chandler

    This is the CSS file that will stylize the HTML creature pages.
*/ 

/* Will move the pawprint GIF on the welcome page to be at the bottom left corner */
.bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
}

/* Will move the GitHub logo to the bottom center of the screen */
.bottom-center {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 10px;
}

/* Will move the paw with magnifying glass on the welcome page to be at the top right corner */
.top-right {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 20px;
    margin-top: 10px;
}

/* Will move each row of animal names to the center of the screen */
.center-section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: 20px auto;
}

/* Will predefine the first three items in the first row to be on the same line */
.first-row-align p {
    display: inline-block;
}

/* Will predefine the text alignment and margin values for the first item in a row */
.item-one {
    text-align: left;
    margin-left: 200px;
}

/* Will predefine the text alignment and margin values for the second item in a row */
.item-two {
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
}

/* Will predefine the text alignment and margin values for the third item in a row */
.item-three {
    text-align: right;
    margin-right: 200px;
}

/* Overall style of the background page */
.intro {
    background-color: rgb(251, 133, 208);
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* Will style the text in italics */
.italics {
    font-style: italic;
}

/* Gives some top padding to the "h3" in the first section */
.top-padding {
    padding-top: 25px;
}

/* Establishes the size of the GitHub logo */
#Git {
    height: 50px;
    width: 50px;
}

/* Changes the GitHub logo to appear white when hovered over */
#Git:hover {
    content: url(githubwhite.png);
    height: 50px;
    width: 50px;
}

body {
    background-color: rgb(246, 201, 230);
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

h1, h3, h4, p {
    text-align: center;
}