/* 
    Made by Treasure Chandler

    This is the CSS file that will stylize the HTML creature pages.
*/ 

/* Will move the GitHub logo to the bottom center of the screen */
.bottom-center {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 10px;
}

/* Will give the h3 element on the welcome page some bottom padding */
.bottom-padding {
    padding-bottom: 10px;
}

/* Will move each row of animal names to the center of the screen */
.center-section {
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

/* Styles the "developer text" in the footer */
.developer-text {
    text-align: center;
    font-size: 16px;
    color: rgb(110, 110, 110);
}

/* Gives the GitHub logo in the footer some bottom padding */
.git-bottom-padding {
    padding-bottom: 38px;
}

/* Overall style of the "intro" at the top of the page */
.intro {
    position: relative;
    background-color: rgb(222, 134, 190);
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

/* Overall style of h3's "intro" */
.intro-two {
    position: relative;
    background-color: rgb(255, 205, 237);
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

/* Overall style of h4's "intro" */
.intro-three {
    position: relative;
    background-color: rgb(255, 205, 237);
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* Will style the text in italics */
.italics {
    font-style: italic;
}

/* CSS for the "Poppins Light" font */
.poppins-light {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
}
  
/* CSS for the "Poppins Light" font */
.poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

/* Will predefine the 3 animal buttons in each row to be on the same line */
.row-align {
    display: flex;
    justify-content: center;
    gap: 70px;
    padding-bottom: 40px;
}

/* Gives some top padding to the "h3" in the first section */
.top-padding {
    padding-top: 15px;
}

/* Adds a top and bottom margin to h4's "intro" */
.vertical-margins {
    margin-top: 30px;
    margin-bottom: 30px;
}

/* Animal text regular url color */
#Animalstext {
    color: white;
}

/* Animal text hovered url color */
#Animalstext:hover {
    color: rgb(66, 0, 58);
}

/* Animal text active url color */
#Animalstext:active {
    color: rgb(255, 205, 238);
}

/* Animal text visited url color */
#Animalstext:visited {
    color: rgb(125, 85, 125);
}

/* Establishes the size of the GitHub logo */
#Git {
    height: 50px;
    width: 50px;
    margin-bottom: 0;
}

/* Changes the GitHub logo to appear white when hovered over */
#Git:hover {
    content: url(/Media/githubpink.png);
    height: 50px;
    width: 50px;
}

/* Creates a fake rounded button behind the animal text links */
#Rfbutton {
    background-color: rgb(202, 118, 181);
    border-radius: 20px;
    width: 150px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Fake rounded button hover color */
#Rfbutton:hover {
    background-color: rgb(240, 139, 215);
    border-radius: 20px;
    width: 150px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Will give the specified element rounded corners */
#Round {
    border-radius: 10px;
}

body {
    background-image: url(/Media/pawbg.jpg);
    background-color: rgb(246, 201, 230);
    font-family: "Poppins", serif;
}

h1, h3, h4, p {
    text-align: center;
}