/* 
    Made by Treasure Chandler

    This is the CSS file that will stylize the HTML creature pages.
*/ 

/* Will move the GitHub logo to the bottom center of the screen */
.bottom-center {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 10px;
}

/* Will move each row of animal names to the center of the screen */
.center-section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: 20px auto;
}

/* Will predefine the 3 animal buttons in each row to be on the same line */
.row-align {
    display: flex;
    justify-content: center;
    gap: 70px;
    padding-bottom: 40px;
}

/* Overall style of the "intro" at the top of the page */
.intro {
    position: relative;
    background-color: rgb(222, 134, 190);
    margin-left: auto;
    margin-right: auto;
    width: 45%;
}

/* Will style the text in italics */
.italics {
    font-style: italic;
}

/* CSS for the "Poppins Light" font */
.poppins-light {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
}
  
/* CSS for the "Poppins Light" font */
.poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

/* Gives some top padding to the "h3" in the first section */
.top-padding {
    padding-top: 15px;
}

/* Animal text regular url color */
#Animalstext {
    color: white;
}

/* Animal text hovered url color */
#Animalstext:hover {
    color: rgb(66, 0, 58);
}

/* Animal text visited url color */
#Animalstext:visited {
    color: rgb(125, 85, 125);
}

/* Establishes the size of the GitHub logo */
#Git {
    height: 50px;
    width: 50px;
}

/* Changes the GitHub logo to appear white when hovered over */
#Git:hover {
    content: url(/Media/githubwhite.png);
    height: 50px;
    width: 50px;
}

/* Creates a fake rounded button behind the animal text links */
#Rfbutton {
    background-color: rgb(202, 118, 181);
    border-radius: 20px;
    width: 150px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Fake rounded button hover color */
#Rfbutton:hover {
    background-color: rgb(240, 139, 215);
    border-radius: 20px;
    width: 150px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Will give the specified element rounded corners */
#Round {
    border-radius: 10px;
}

body {
    background-image: url(/Media/pawbg.jpg);
    background-color: rgb(246, 201, 230);
    font-family: "Poppins", serif;
}

h1, h3, h4, p {
    text-align: center;
}